:root {
--dark: rgb(29, 65, 29);
--light: rgb(156, 248, 156);
}

header {
    background-color: var(--light);
    height: 35px;
    margin: auto;
    padding: 30px;
    box-shadow: 2px 3px 3px rgb(114, 114, 114);
}

header h2 {
    text-align: right;
}

a {
    color: var(--dark);
    font-size: 20px;
    
}

#container {
    width: 800px;
    margin: 20px auto;
    border: 10px solid var(--dark);
    box-shadow: 2px 3px 3px rgb(114, 114, 114);
}

.questions {
    font-size: 30px;
    margin: 5px;
    color: var(--dark);
    text-align: center;
}

.caption {
    font-size: 20px;
    margin: 5px;
    color: var(--dark);
    text-align: center;
}

.button {
    background-color: var(--light);
    border: none;
    display: flex;
    margin: 5px;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 20px;
    box-shadow: 2px 2px 2px var(--dark);
}