:root {
--dark: rgb(29, 65, 29);
--light: rgb(156, 248, 156);
}

header {
    background-color: var(--light);
    height: 35px;
    margin: auto;
    padding: 30px;
}

header h2 {
    text-align: right;
}

a {
    color: var(--dark);
    font-size: 20px;
    
}

#container {
    width: 800px;
    margin: 20px auto;
    border: 10px solid var(--dark);
}

.questions {
    font-size: 30px;
    margin: 5px;
}

.button {
    background-color: var(--light);
    border: none;
    display: flex;
    margin: 5px;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 20px;
}